.formulario{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: burlywood;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid chocolate;
    outline-color: chocolate;
}

input:focus{
    border: 1px solid seagreen;
}