@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
--Lime: hsl(61, 70%, 52%);
--Red: hsl(4, 69%, 50%);
--White: hsl(0, 0%, 100%);
--Slate-100: hsl(202, 86%, 94%);
--Slate-300: hsl(203, 41%, 72%);
--Slate-500: hsl(200, 26%, 54%);
--Slate-700: hsl(200, 24%, 40%);
--Slate-900: hsl(202, 55%, 16%);
}

body{
  background-color: var(--Slate-300);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.Container_Principal{}

.Container_Branco{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 4px;
}

.Titulo{
  text-align: left;
}
.Container_Preto{
  background-color: var(--Slate-900);
  border-bottom-left-radius: 50px ;
}

#Mortgage_amount{
  padding-left: 300px; 
  background:url(images/icon-calculator.svg);
  background-repeat: no-repeat;
  padding-left:30px;


}

#Mortgage_term{
 
}

#Interest_rate{

}
#Repayment{

}



